
<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h3><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP</h3>
<h3><%= @game.player_2.name %>: <%= @game.player_2.hp %>HP</h3>


<form action="/turn" method="post">
  <input type="submit" name="turn" value="Player 1 Attack">
</form>

<form action="/turn" method="post">
  <input type="submit" name="turn" value="Player 2 Attack">
</form>